.main-container {
  //background-color: black;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "head-left head head-right"
    "left title right"
    "bottom-left whoiam bottom-right";
  grid-gap: 10px;
}

.head-title {
  grid-area: title;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main-title {
  display: block;
  color: white;
  font-family: monospace;
  font-style: normal;
  font-weight: 900;
  font-size: 15vmin;
  text-align: center;
  margin: 1vw 0 1vw 0;
  line-height: 100%;
}

.links {
  grid-area: whoiam;
}

.glow {
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.title-text {
  display: block;
  font-family: monospace;
  font-size: 5vmin;
  color: white;
}

.excerpt-text {
    font-family: monospace;
    font-size: 2vmin;
    color: white;
    margin-bottom: 1vmin;
    margin-top: 1vmin;
}

.contact-style {
  font-size: 3vmin;
  color: white;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff66ff, 0 0 40px #ff66ff, 0 0 50px #ff66ff, 0 0 60px #ff66ff, 0 0 70px #ff66ff, 0 0 80px #ff66ff;
  }
}

@media (max-width: 414px) {
  .main-container {
    //background-color: black;
    display: grid;
    width: 100vw;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "head"
      "title"
      "bottom";
    grid-gap: 10px;
  }

  .excerpt-text {
      font-family: monospace;
      font-size: 4vmin;
      color: white;
      margin-bottom: 1vmin;
      margin-top: 1vmin;
  }

  .info-contact {
    grid-area: bottom;
    margin-left: 10px;
  }

  .contact-style {
    font-size: 8vmin;
    color: white;
  }
}

@media (min-width: 415px) {
  .info-contact {
    grid-area: bottom-right;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.content {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "head head head"
    "content-left content content"
    "footer footer footer";
  grid-gap: 10px;
}

.content-text {
  grid-area: content;
  font-family: monospace;
  font-size: 5vmin;
  color: white;
  background-color: rgba(0,0,0,0.3);
  width: 85%;
  padding: 10px;
}

.post-index {
  grid-area: content;
  align-content: center;
}

.post-index ul {
  list-style-type: none;
}

.post-index ul li a{
  font-family: monospace;
  font-size: 5vmin;
  color: white;
}

.content-books {
  display: grid;
  width: 100vw;
  height: 100vw;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "head head head"
    "content-left content content"
    "bottom-left whoiam bottom-right";
  grid-gap: 10px;
}


body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-image: url('images/moon_romance.jpg');
  background-blend-mode: multiply;
  background-color: #e725f7;
  height: 100%;
  overflow-x: hidden;
  margin: 0px;
}

.main {
  display: flex;
  flex-direction: column;
}

.main-row {
  flex: 1;
}
