---
---
{% include css/main.scss %}
{% include css/post.scss %}
{{ content }}
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-image: url('images/moon_romance.jpg');
  background-blend-mode: multiply;
  background-color: #e725f7;
  height: 100%;
  overflow-x: hidden;
  margin: 0px;
}

.main {
  display: flex;
  flex-direction: column;
}

.main-row {
  flex: 1;
}
