---
---
{% include css/main.scss %}
{% include css/post.scss %}
{{ content }}
body {
  background-image: url('images/clem-onojeghuo-XW-Z9L930CY-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  overflow-x: hidden;
  margin: 0px;
}

.main {
  display: flex;
  flex-direction: column;
}

.main-row {
  flex: 1;
}
